frontend/node_modules/*
frontend/__pycache__
frontend/migrations/__pycache__
accounts/__pycache__
accounts/migrations/__pycache__
api/__pycache__
api/migrations/__pycache__
readingright_intern_grocerybag/__pycache__